<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{indexUser::header}">
</head>
<body>

<div th:replace="~{ajax_fragment::navbar}"></div>
<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/indexCustomer}">Trang chủ</a></li>
                    <li class="active">TÀI KHOẢN</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="my-account">
                <div class="col-main col-sm-12 col-xs-12">
                    <div class="welcome-msg">
                    </div>
                    <div class="recent-orders">
                        <div class="table-responsive">
                            <div class="page-title">
                                <h2>Danh Sách Đơn hàng của bạn</h2>
                            </div>

                            <table class="table table-bordered cart_summary table-striped" style="margin-top:10px">
                                <thead>
                                <tr class="first last">
                                    <th class="text-center">Khách hàng</th>
                                    <th class="text-center">Ngày đặt</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center">Giá trị đơn hàng</th>
                                    <th class="text-center">Xử lý đơn</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orders,index : ${listOrder}">
                                    <form id="orderDetailForm" th:action="@{/OrderDetailByUser/0}" method="post">
                                        <input type="hidden" name="orderId" th:value="${orders.Id}">
                                        <td class="text-center" th:text="${orders.user.getFullname()}"></td>
                                        <td class="text-center" th:text="${orders.orderDate}"></td>
                                        <td>
                                         <span class="text-center" th:switch="${orders.Status}">
                                                <span class="text-center" th:case="1">Đang chờ duyệt</span>
                                                <span class="text-center" th:case="2">Đã duyệt</span>
                                                <span class="text-center" th:case="3">Đang giao</span>
                                                <span class="text-center" th:case="4">Đã giao</span>
                                                <span class="text-center" th:case="5">Đã huỷ</span>
                                         </span>
                                            </td>
                                        <td class="text-center" th:text="${#numbers.formatDecimal(orders.total, 0, 'COMMA', 0, 'POINT') + 'VND'}"></td>
                                        <td class="text-center">
                                            <span th:switch="${orders.Status}">
                                            <span th:case="1">
                                                <button class="btn btn-danger btn-cancel text-center">
                                                    <a class="text-center"
                                                       th:href="@{'/CancelOrderStatusByUser/0/' + ${orders.Id}}">Hủy đơn</a>
                                                </button>
                                            </span>

                                            <span th:case="2">
                                                    <span class="text-center">Đơn Hàng đã được Duyệt</span>
                                            </span>

                                            <span th:case="3">
                                                    <span class="text-center">Xác nhận đã giao hàng</span>
                                            </span>

                                            <span th:case="4">
                                                <span class="text-center">Đã Giao Hàng thành công</span>
                                            </span>

                                            <span th:case="5">
                                                 <span class="text-center">Đơn Hàng đã bị hủy</span>
                                            </span>
                                        </span>
                                        </td>
                                            <td>
                                                <button class="text-center">Xem Chi Tiết</button>
                                            </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="box-account">
                        <div class="page-title">
                            <h2>Thông tin tài khoản</h2>
                        </div>

                            <table class="table table-bordered cart_summary table-striped" style="margin-top:10px">
                                <thead>
                                <tr class="first last">
                                    <th class="text-center">Tên Khách hàng</th>
                                    <th class="text-center">Địa Chi</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Số Điện Thoại</th>
                                    <th class="text-center">Cập nhật thông tin</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <input type="hidden" name="userId" th:value="${userDetail.Id}">
                                    <td class="text-center" th:text="${userDetail.fullname}"></td>
                                    <td class="text-center" th:text="${userDetail.address}"></td>
                                    <td class="text-center" th:text="${userDetail.email}"></td>
                                    <td class="text-center" th:text="${userDetail.phone}"></td>
                                    <td class="text-center">
                                        <a id="editButton" th:if="${userDetail != null}" class="text-center" th:href="@{/EditAccount/0/{userId}(userId=${userDetail.id})}"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{indexUser::footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:fragment="ajax_script">
    var iconElement = document.querySelector('.fa.fa-user-o.userID');
    var uid = iconElement.getAttribute('data-user-id');
    console.log(uid)
    function fetchDataOnModalShow() {
        $.ajax({
            url: "/api/index",
            type: "GET",
            data: {
                userId: uid
            },
        }).done(function(response) {
            var responseLength = response.length;
            console.log(responseLength);
            var sumQuantity = document.querySelector(".sumQuantity");
            sumQuantity.innerHTML = responseLength;

        }).fail(function(error) {
            console.error(error);
        });
    }

    window.onload = function() {
      fetchDataOnModalShow();
    };
</script>
</body>
</html>