<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{indexUser::header}"></head>

<body>
<div th:replace="~{indexUser::navbar}"></div>
<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/indexCustomer">Trang chủ</a></li>
                    <li>Giỏ hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /BREADCRUMB -->

<section class="main-container col1-layout">
    <div class="main container">
        <div class="cart">
            <div class="page-content page-order">
                <div class="page-title">
                    <h2>Giỏ hàng</h2>
                </div>

                <div class="order-detail-content">
                    <div class="table-responsive">
                        <table class="table table-bordered cart_summary" id="tbl_cart">
                            <thead>
                            <tr>
                                <th class="cart_product">Hình ảnh</th>
                                <th>Tên</th>
                                <th>Đơn giá</th>
                                <th>Số lượng mua</th>
                                <th>Tổng cộng</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>

                            <tbody class="cart_body">
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="4"><strong>Tổng giá đơn hàng</strong></td>
                                <td colspan="2"><strong><span id="lbl_total"></span><span>&#8363;</span> </strong></td>
                            </tr>
                            <tr id="discount_amount_row">
                                <td colspan="4"><strong>Số tiền giảm</strong></td>
                                <td colspan="2"><strong><span id="lbl_discount_amount"></span> <span>&#8363;</span> </strong></td>
                            </tr>
                            <tr id="total_discounted_row">
                                <td colspan="4"><strong>Tổng giá đơn hàng đã giảm</strong></td>
                                <td colspan="2"><strong><span id="lbl_total_discounted"></span> <span>&#8363;</span> </strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-group" id="coupon-input" style="width:300px">
                        <label>Bạn có coupon giảm giá?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="coupon-input-control" placeholder="Nhập mã Coupon">
                            <span class="input-group-btn">
                                    <button class="btn btn-primary" id="btn-apply-coupon">Áp dụng</button>
                            </span>
                        </div>
                    </div>

                    <div class="cart_navigation">
                        <a class="continue-btn" href="/indexCustomer">
                            <i class="fa fa-arrow-left"></i>Tiếp tục mua hàng
                        </a>

                        <a id="checkout" class="checkout-btn" th:href="@{/checkout}">
                            <i class="fa fa-check"></i> Tiến hành thanh toán
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>