<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{indexUser::header}">
</head>
<body>
<div th:replace="~{ajax_fragment::navbar}"></div>
<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/indexCustomer}">Trang chủ</a></li>
                    <li class="active">Thanh toán</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>Thanh toán</h2>
                </div>
                <div class="page-content checkout-page">
                    <h4 class="checkout-sep">1. Tóm tắt đơn hàng</h4>
                    <div class="box-border">
                        <div class="table-responsive">
                            <table class="table table-bordered cart_summary" id="tbl_cart">
                                <thead>
                                <tr>
                                    <th class="cart_product">Hình ảnh</th>
                                    <th>Tên</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng mua</th>
                                    <th>Tổng cộng</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="cart_body">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="row">
                                        <div class="col">
                                            <div class="p-3">Tổng đơn hàng</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3">Số tiền giảm</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3">Tổng giá đơn hàng đã giảm</div>
                                        </div>
                                    </th>
                                    <th class="row">
                                        <div class="col">
                                            <div id="lbl_total" class="p-3 sumPrice">0</div>
                                        </div>
                                        <div class="col">
                                            <div id="lbl_discount_amount" class="p-3 discountedPrice">0</div>
                                        </div>
                                        <div class="col">
                                            <div id="lbl_total_discounted" class="p-3 sumTotalDiscPrice">0</div>
                                        </div>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <h4 class="checkout-sep">2. Phương thức thanh toán</h4>
                    <div class="box-border">
                        <div style="margin: 10px 0px;font-weight:500">
                            Thanh toán khi nhận hàng
                        </div>
                    </div>

                    <form th:action="@{/checkoutSuccess}" method="GET">
                        <h4 class="checkout-sep">3. Thông tin giao hàng</h4>
                        <div class="box-border">
                            <ul>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label for="Name" class="required">Tên</label>
                                        <input th:value="${user.fullname}" class="input form-control" id="Name" value="">
                                        <span class="text-danger"></span>
                                    </div>
                                </li>

                                <li class="row">
                                    <div class="col-xs-12">
                                        <label for="Address" class="required">Địa chỉ</label>
                                        <input th:value="${user.address}" class="input form-control" id="Address" type="text" value="">
                                        <span class="text-danger"></span>
                                    </div>
                                </li>

                                <li class="row">
                                    <div class="col-sm-6">
                                        <label for="PhoneNumber" class="required">Số điện thoại</label>
                                        <input th:value="${user.phone}" class="input form-control" id="PhoneNumber" type="text" value="">
                                        <span class="text-danger"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="button pull-right"><span>Đặt hàng</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{indexUser::footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:fragment="ajax_script">
    var iconElement = document.querySelector('.fa.fa-user-o.userID');
    var uid = iconElement.getAttribute('data-user-id');
    var discountAmount = 0;
    var discountedTotalPrice = 0;

     function fetchDataOnModalShow() {
         $.ajax({
             url: "/api/index",
             type: "GET",
             data: {
                 userId: uid
             },
         }).done(function(response) {
             updateModalContent(response);
             var responseLength = response.length;
             console.log(response);
             var sumQuantity = document.querySelector(".sumQuantity");
             sumQuantity.innerHTML = responseLength;

         }).fail(function(error) {
             console.error(error);
         });
     }

     window.onload = function() {
         fetchDataOnModalShow();
     };

    function updateModalContent(response) {
        // Clear the existing content in the modal body
        var cartBody = $('.cart_body');
        cartBody.empty();
        var sum = 0;
        response.forEach(function(item) {
            var product = JSON.parse(item.product);
            var quantity = item.quantity;
            var itemTotalPrice = product.price * quantity;
            sum += itemTotalPrice;
            // Create the HTML structure for each item
            var itemHTML = `
                <tr>
                    <td><img src="/img/${product.image}" alt="${product.name}" width="64" height="64"></td>
                    <td>${product.name}</td>
                    <td>${product.price}</td>
                    <td>
                        <div class="input-append">
                            <input disabled class="span1" style="max-width: 34px" placeholder="1" id="txt_quantity_${product.id}" value="${item.quantity}" size="16" type="text">
                        </div>
                    </td>
                    <td>${itemTotalPrice}</td>
                    <td></td>

                </tr>`;
            cartBody.append(itemHTML);
        });

        var totalPriceTable = $('.sumPrice');
        totalPriceTable.html(sum);
}
</script>

<script th:inline="javascript">
    let total= 0;

    var coupon = [[${coupon}]];
    function applyCoupon(code) {
        $.ajax({
            type: "POST",
            url: "/api/Coupon/ApplyCoupon",
            data: {
                code: code
            },
            success: function(res) {
                var element = document.getElementById("lbl_discount_amount");
                var element2 = document.getElementById("lbl_total_discounted");

                var result = JSON.parse(res);

                element.innerHTML = result.tongTienSauKhiGiam;
                element2.innerHTML = result.sum;
                console.log(result.sum)
                total = result.sum;
            },
            error: function(err) {
                console.log(err);
            }
        });
    }
    if(coupon != 0) {
        applyCoupon(coupon);
        console.log(total);
    }
</script>


</body>
</html>