<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}">
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card mb-12">
                    <h1 class="mt-4">Chi tiết sản phẩm</h1>

                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                    </ol>
                    <div class="card-header">
                        <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <table class="table table-bordered styled-table">
                                <tr th:each="product : ${listProducts}">
                                    <th>Tên Sản Phẩm:</th>
                                    <td th:text="${product.Name}"></td>
                                </tr>
                                <tr th:each="product,index : ${listProducts}">
                                    <th>Giá Tiền:</th>
                                    <td th:text="${formattedPrice.replace(',', '.') + ' VNĐ'}"></td>
                                </tr>
                                <tr th:each="product : ${listProducts}">
                                    <th>Ảnh Đại Diện:</th>
                                    <td>
                                        <img class="product-image" th:src="@{'/img/' + ${product.image}}"
                                             alt="Product Image">
                                    </td>
                                </tr>
                                <tr th:each="product : ${listProducts}">
                                    <th>Chi Tiết Sản Phẩm:</th>
                                    <td th:text="${product.description}"></td>
                                </tr>
                                <tr th:each="product : ${listProducts}">
                                    <th>Tên danh mục:</th>
                                    <td th:text="${product.category.getName()}"></td>
                                </tr>
                                <tr th:each="product : ${listProducts}">
                                    <th>Số lượng:</th>
                                    <td th:text="${product.quantity}"></td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}">
</a>


<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>
</body>

</html>