<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{indexUser::header}">
</head>
<body>

<div th:replace="~{ajax_fragment::navbar}"></div>
<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/indexCustomer}">Trang chủ</a></li>
                    <li><a th:href="@{/account/0}">TÀI KHOẢN</a></li>
                    <li class="active">CẬP NHẬT THÔNG TIN</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="my-account">
                <div class="col-main col-sm-12 col-xs-12">
                    <div class="welcome-msg">
                    </div>
                    <div class="recent-orders">
                        <div class="table-responsive">
                            <div class="page-title">
                                <h2>Cập nhật thông tin</h2>
                            </div>

                            <div th:if="${success}" class="text-center alert alert-success">
                                <p th:text="${success}"></p>
                            </div>
                            <div th:if="${error}">
                                <p th:text="${error}"></p>
                            </div>

                            <form id="editAccountForm" class="form-horizontal" enctype="multipart/form-data" method="POST"
                                  th:action="@{/EditAccount/0/{userId}(userId = ${userDetail.id})}" th:object="${userDetail}">

                                <input type="hidden" name="orderId" id="idEdit" th:field="*{id}">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="fullname">Tên người dùng</label>
                                    <div class="col-md-4">
                                        <input id="fullname" th:field="*{fullname}" name="fullname"
                                               class="form-control input-md"
                                               required="" type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="phone">Số điện thoại </label>
                                    <div class="col-md-4">
                                        <input id="phone" th:field="*{phone}" name="phone" class="form-control input-md"
                                               required="" type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="address">Địa chỉ</label>
                                    <div class="col-md-4">
                                        <input id="address" th:field="*{address}" name="address"
                                               class="form-control input-md" required=""
                                               type="text">
                                    </div>
                                </div>

                                <div class="center-container">
                                    <button type="submit" class="btn btn-primary text-center" onclick="SaveEditAccount(event)">Lưu Thông Tin</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{indexUser::footer}"></footer>
<script th:src="@{/js/register.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:fragment="ajax_script">
    var iconElement = document.querySelector('.fa.fa-user-o.userID');
    var uid = iconElement.getAttribute('data-user-id');
    console.log(uid)
    function fetchDataOnModalShow() {
        $.ajax({
            url: "/api/index",
            type: "GET",
            data: {
                userId: uid
            },
        }).done(function(response) {
            var responseLength = response.length;
            console.log(responseLength);
            var sumQuantity = document.querySelector(".sumQuantity");
            sumQuantity.innerHTML = responseLength;

        }).fail(function(error) {
            console.error(error);
        });
    }

    window.onload = function() {
      fetchDataOnModalShow();
    };
</script>
</body>
</html>