<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{indexUser::header}">
</head>
<body>

<div th:replace="~{ajax_fragment::navbar}"></div>
<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/indexCustomer}">Trang chủ</a></li>
                    <li class="active">THƯƠNG HIỆU</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="div_form">
    <form id="formSearch" th:action="@{/search-productByOption/0}" method="get" class="toolbar__search"
          style="margin-bottom: 30px;justify-content: center;">
        <div class="toolbar__search-left">
            <span class="toolbar__search-title" style=" width: 229px;">Sắp xếp theo</span>
            <select id="category" name="category" class="form-control">
                <option value="">Tất cả</option>
                <option th:each="category : ${categories}"
                        th:value="${category.name}"
                        th:text="${category.name}"
                ></option>
            </select>
        </div>

        <div>
            <select class="toolbar__search-range-title" name="sortOption">
                <option class="toolbar__search-range-item-up" value="ASC">
                    Thấp đến Cao<i class="fa-solid fa-check"></i>
                </option>
                <option class="toolbar__search-range-item-down" value="DESC">
                    Cao đến Thấp<i class="fa-solid fa-check"></i>
                </option>
            </select>
        </div>

        <div class="price-range">
            <span class="toolbar__search-title">Màu</span>
            <input placeholder="" type="text" name="color"/>
        </div>

        <div class="price-range" style="margin-top: 20px;">
            <span class="toolbar__search-title">Khoảng Giá</span>
            <input th:value="${minPrice != null ? minPrice : defaultMinPrice}" placeholder="Thấp" type="text" id="minPrice" name="minPrice" readonly/>
            <span style="width: 18px;"> - </span>
            <input th:value="${maxPrice != null ? maxPrice : defaultMaxPrice}" placeholder="Cao" type="text" id="maxPrice" name="maxPrice" readonly/>
            <input type="hidden" th:value="${defaultMinPrice}" id="minPriceDefault" name="minPriceDefault">
            <input type="hidden" th:value="${defaultMaxPrice}" id="maxPriceDefault" name="maxPriceDefault">
            <div class="multi-range-field my-5 pb-5">
                <div id="multi6" class="multi-range"></div>
            </div>
        </div>

        <button id="filterButton" type="submit" class="toolbar__search-icon">Lọc</button>
    </form>
</div>


<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    <div class="product-grid-area">
                        <ul class="thumbnails">
                            <li class="span3 item col-lg-3 col-md-4 col-sm-6 col-xs-6"
                                th:each="product : ${listProducts}">
                                <div class="product-item">
                                    <div class="item-inner">
                                        <a th:href="@{/product-details/{id}(id=${product.id})}">
                                            <div class="thumbnail">
                                                <div th:if="${product.quantity <= 0}" class="icon-new-label new-right">
                                                    Hết hàng
                                                </div>
                                                <div th:else class="icon-hot-label new-right">Mới</div>
                                                <img class="product-image d-block w-100"
                                                     th:src="@{'../img/' + ${product.image}}">
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title">
                                                        <h5 th:text="${product.name}"></h5>
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + 'VNĐ'}"></span>
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="...">
                        <ul class="pagination" style="display: flex;justify-content: center;">
                            <li th:if="${currentPage != 0}" class="page-item">
                                <a th:href="@{/search-productByKeyword/{pageNo}(pageNo=${currentPage - 1}, keyword=${keyword})}"
                                   class="page-link">Previous</a>
                            </li>

                            <th:block th:if="${totalPages > 1}">
                                <li th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                                    th:classappend="${currentPage == i ? 'active' : ''}" class="page-item">
                                    <a th:href="@{/search-productByKeyword/{pageNo}(pageNo=${i}, keyword=${keyword})}"
                                       class="page-link">
                                        <span th:text="${i + 1}"></span>
                                    </a>
                                </li>
                            </th:block>


                            <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                <a th:href="@{/search-productByKeyword/{pageNo}(pageNo=${currentPage + 1},
                                 keyword=${keyword})}" class="page-link">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Pagination -->

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{indexUser::footer}"></footer>
<script>
    var minPrice = parseInt([[${minPrice}]]);
    var maxPrice = parseInt([[${maxPrice}]]);
    var priceRange = document.getElementById('multi6');
    var minPriceInput = document.getElementById('minPrice');
    var maxPriceInput = document.getElementById('maxPrice');
    var defaultMinPriceInput = document.getElementById('minPriceDefault');
    var defaultMaxPriceInput = document.getElementById('maxPriceDefault');
    const initialMinPrice = parseInt(minPriceInput.value);
    const initialMaxPrice = parseInt(maxPriceInput.value);
    var stepSize = 3500000;
    var numSteps = Math.floor((maxPrice - minPrice) / stepSize);

    noUiSlider.create(priceRange, {
        start: [minPrice, maxPrice],
        connect: true,
        step: stepSize,
        range: {
            'min': minPrice,
            'max': maxPrice
        }
    });

    priceRange.noUiSlider.on('update', function (values, handle) {
        minPrice = parseInt(values[0]);
        maxPrice = parseInt(values[1]);
        minPriceInput.value = minPrice;
        maxPriceInput.value = maxPrice;
    });

var filterButton = document.getElementById('filterButton');
    filterButton.addEventListener('click', function (event) {
        event.preventDefault();
        var selectedMinPrice = parseInt(minPriceInput.value);
        var selectedMaxPrice = parseInt(maxPriceInput.value);
        if (selectedMinPrice > selectedMaxPrice) {
            selectedMaxPrice = selectedMinPrice;
        }
        priceRange.noUiSlider.updateOptions({
            range: {
                'min': minPrice,
                'max': maxPrice
            }
        });
        priceRange.noUiSlider.set([selectedMinPrice, selectedMaxPrice]);
        document.getElementById('formSearch').submit();
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:fragment="ajax_script">
    var iconElement = document.querySelector('.fa.fa-user-o.userID');
    var uid = iconElement.getAttribute('data-user-id');
    console.log(uid)
    function fetchDataOnModalShow() {
        $.ajax({
            url: "/api/index",
            type: "GET",
            data: {
                userId: uid
            },
        }).done(function(response) {
            var responseLength = response.length;
            console.log(responseLength);
            var sumQuantity = document.querySelector(".sumQuantity");
            sumQuantity.innerHTML = responseLength;

        }).fail(function(error) {
            console.error(error);
        });
    }

    window.onload = function() {
      fetchDataOnModalShow();
    };
</script>
</body>
</html>