<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}">
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}">
            </nav>
            <div class="container-fluid">
                <div class="statistics-container">
                    <div class="statistics-card sold-products-statistics">
                        <h2>Tổng Số Khách Hàng</h2>
                        <h5><span th:text="${countUser}"></span></h5>
                    </div>

                    <div class="statistics-card revenue-statistics">
                        <h2>Tổng Số Sản Phẩm</h2>
                        <h5><span th:text="${countProduct}"></span></h5>
                    </div>

                    <div class="statistics-card customer-statistics">
                        <h2>Tổng Số Đơn Hàng</h2>
                        <h5><span th:text="${countOrder}"></span></h5>
                    </div>

                    <div class="statistics-card order-statistics">
                        <h2>Tổng doanh thu</h2>
                        <h5><span th:text="${total + ' VNĐ'}"></span></h5>
                    </div>
                </div>

                <div class="form-container" style="display: flex;">
                    <form id="editForm" th:action="@{/ShowChartType}" method="post">
                        <div class="date-input">
                            <label for="dateFrom">Từ ngày:</label>
                            <input type="date" id="dateFrom" name="dateFrom">
                        </div>

                        <div class="date-input">
                            <label for="dateTo">Đến ngày:</label>
                            <input type="date" id="dateTo" name="dateTo">
                        </div>

                        <select id="chartType" name="chartType" onchange="displayChart()">
                            <option value="top10Products">Top 10 Sản Phẩm Bán Chạy Nhất</option>
                            <option value="top5Users">Top 5 Khách hàng mua hàng nhiều nhất</option>
                            <option value="monthlyRevenue">Doanh Thu theo tháng</option>
                            <option value="weeklyRevenue">Doanh Thu theo thứ trong tuần</option>
                        </select>

                        <div id="yearSelectContainer" style="display: none;">
                            <label for="year">Năm:</label>
                            <select id="year" name="year"></select>
                        </div>

                        <button class="chartTypeStyle" id="submitButton" type="submit" onclick="saveStatistical(event)">
                            Xem thống kê
                        </button>
                    </form>

                    <button class="show_chart" onclick="showChart()">Xem dạng biểu đồ</button>
                </div>
            </div>

            <div id="top5UsersDiv">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Top</th>
                        <th>Tên</th>
                        <th>Tổng Tiền</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user,index : ${top5Users}">
                        <td th:text="${index.count}"></td>
                        <td th:text="${user.fullname}"></td>
                        <td th:text="${user.total}"></td>
                        <td th:text="${user.sumQuantity}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="top10ProductsDiv">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Top</th>
                        <th>Tên</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Lặp qua danh sách khách hàng -->
                    <tr th:each="product,index : ${top10Products}">
                        <td th:text="${index.count}"></td>
                        <td th:text="${product.Name}"></td>
                        <td>
                            <img class="product-image" th:src="@{'../../img/' + ${product.image}}" alt="Product Image">
                        </td>
                        <td th:text="${product.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="monthlyRevenueDiv">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Tháng</th>
                        <th>Tổng Tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Lặp qua danh sách khách hàng -->
                    <tr th:each="revenue : ${monthlyRevenue}">
                        <td th:text="${revenue.month}"></td>
                        <td th:text="${revenue.sumTotal}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="weeklyRevenueDiv">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Tuần</th>
                        <th>Tổng Tiền</th>
                        <th>Thứ hai</th>
                        <th>Thứ ba</th>
                        <th>Thứ tư</th>
                        <th>Thứ năm</th>
                        <th>Thứ sáu</th>
                        <th>Thứ bảy</th>
                        <th>Chủ nhật</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="revenue : ${weeklyRevenue}">
                        <td th:text="${revenue.weekDate}"></td>
                        <td th:text="${revenue.sumTotal}"></td>
                        <td th:text="${revenue.mondayTotal}"></td>
                        <td th:text="${revenue.tuesdayTotal}"></td>
                        <td th:text="${revenue.wednesdayTotal}"></td>
                        <td th:text="${revenue.thursdayTotal}"></td>
                        <td th:text="${revenue.fridayTotal}"></td>
                        <td th:text="${revenue.saturdayTotal}"></td>
                        <td th:text="${revenue.sundayTotal}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="chartContainer"></div>
        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}">
</a>

<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>
<script>
    var tableRows = document.querySelectorAll("#monthlyRevenueDiv tbody tr");
    var tableRowProducts = document.querySelectorAll("#top10ProductsDiv tbody tr");
    var tableRowWeekly = document.querySelectorAll("#weeklyRevenueDiv tbody tr");
    var tableRowCustomer = document.querySelectorAll("#top5UsersDiv tbody tr");

    var data_chart = [];
    var data_chartProduct = [];
    var data_chartWeekly = [];
    var data_chartCustomer = [];

     tableRows.forEach(function(row) {
         var month = row.cells[0].innerText; // Lấy giá trị từ cột đầu tiên
         var sumTotal = parseInt(row.cells[1].innerText); // Lấy giá trị từ cột thứ hai
         // Thêm giá trị month và sumTotal vào mảng data_chart
         data_chart.push({
             y: sumTotal,
             label: month
         });
         console.log(data_chart);
     });

    tableRowProducts.forEach(function(row) {
         var name = row.cells[1].innerText; // Lấy giá trị từ cột đầu tiên
         var sumTotal = parseInt(row.cells[3].innerText); // Lấy giá trị từ cột thứ ba
         // Thêm giá trị month và sumTotal vào mảng data_chart
         data_chartProduct.push({
             y: sumTotal,
             label: name
         });
          console.log(data_chartProduct);
     });

    tableRowWeekly.forEach(function(row) {
         var week = row.cells[0].innerText; // Lấy giá trị từ cột đầu tiên
         var sumTotal = parseInt(row.cells[1].innerText);
         // Thêm giá trị month và sumTotal vào mảng data_chart
         data_chartWeekly.push({
             y: week,
             label: sumTotal
         });
         console.log(data_chartWeekly);
     });

    tableRowCustomer.forEach(function(row) {
         var fullname = row.cells[1].innerText; // Lấy giá trị từ cột đầu tiên
         var sumTotal = parseInt(row.cells[2].innerText); // Lấy giá trị từ cột thứ hai

         // Thêm giá trị month và sumTotal vào mảng data_chart
         data_chartCustomer.push({
             y: sumTotal,
             label: fullname
         });
         console.log(data_chartCustomer);
     });

</script>
<script th:src="@{/js/statistical.js}"></script>
<script th:src="@{/js/canvasjs.min.js}"></script>
</body>

</html>